@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 204 25% 8%;
    --btn-background: 200 10% 91%;
    --btn-background-hover: 200 10% 89%;
    --foreground: 200 50% 3%;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: 204 25% 8%;
      --btn-background: 200 10% 9%;
      --btn-background-hover: 200 10% 12%;
      --foreground: 200 20% 96%;
    }
  }
}

@layer base {
  * {
    @apply border-foreground/20;
  }
}

.animate-in {
  animation: animateIn 0.3s ease 0.15s both;
}

@keyframes animateIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.card-data-wrapper{
  display: grid;
  gap: 2px;
  grid-template-columns: repeat(3, 1fr);
}
.card-data{
  width: auto;
  padding: 2px;
  text-align: center;
}
.card-data-row-wrapper{
  display: grid;
  gap: 2px;
  grid-template-columns: repeat(1, 1fr);
}

.card-data-player-champion-row{
  width: auto;
  padding: 2px;
  text-align: center;
  display: grid;
  gap: 8px;
  grid-template-columns: 16px 32px 1fr 32px auto;
  align-items: center;
}

.card-data-row{
  width: auto;
  padding: 2px;
  text-align: center;
  display: grid;
  gap: 8px;
  grid-template-columns: 16px 32px 1fr auto;
  align-items: center;
}
.card-data-game-row{
  width: auto;
  padding: 2px;
  text-align: center;
  display: grid;
  gap: 8px;
  grid-template-columns: 16px 40px 20px 40px auto;
  align-items: center;
}
.card-data-reverse-sweep{
  grid-template-columns: 40px 20px 40px auto;
}
.card-value{
  font-weight: 700;
}
.card-main-big{
  height: 300px;
  max-height: 300px;
  object-fit: cover;
}

.player-top-wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 2fr auto;
}
.player-main-big{
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  grid-row: 2;
  grid-column: 1;
  background-color: rgba(0,0,0,0.7);
}

.player-mini-icon{
  width: 50px;
  height: auto;
  margin-right: 20px;
  padding: 5px;
  margin-left: 3px;
}
.champion-list-mini-icon{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.player-text{
  grid-column: 1/5;
  grid-row: 1;
  background-color: rgba(0,0,0,0.7);
  display: flex;
  align-items: center;
}
.champion-list{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column: 2/4;
  grid-row: 2;
}

.card-main-img{
  height: 200px;
  max-height: 300px;
  object-fit: cover;
  padding: 1rem 0 ;
}
.dragon-icon-large{
  width: 100%;
  text-align: center;
  margin-bottom: 1rem;
}
.dragon-icon-small{
  margin: 0 auto;
}

.main-text-overlay{
  bottom: 0;
  width: 100%;
  padding: 2px;
  background-color: rgba(0,0,0,0.7);
}

.card-top-wrapper{
  position: relative;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-win{
  border: 2px solid #27ae60;
  border-radius: 2px;
}
.team-loss{
  border: 2px solid #e74c3c;
  border-radius: 2px;
}
.mini-icon{
  width: 100%;
  padding: 2px;
}


.gold{
  color: 	#d4af37;
}
.silver
{
  color: 	#c0c0c0
}
.bronze{
  color: #cd7f32;
}